In [1]:
import numpy
import pandas
import re
import json
#from datetime import datetime 
print('imported')

imported

In [2]:
allgames_df = pandas.read_csv('gamedata.csv', low_memory=False)
print('read game data')

read game data

In [3]:
allgames_df_bk = allgames_df
print('backed up')

backed up

In [3]:
allgames_df['date'] = pandas.to_datetime(allgames_df['date'], format='%Y%m%d', errors='coerce')
allgames_df['year'] = allgames_df['date'].apply(lambda x: x.year)

#allgames_df = allgames_df.drop('gameID', axis=1)
allgames_df['gameID'] = allgames_df['home']
allgames_df['gameID'] += allgames_df['date'].apply(lambda x: x.strftime('%Y%m%d'))
allgames_df['gameID'] += allgames_df['gameno'].apply(lambda x: str(x))
#allgames_df = allgames_df.set_index('gameID')
print('done')

done

In [5]:
allgames_df[allgames_df['gameID'] == 'DET193805301'].transpose()[140:170]

                               67380
home_batter3_name  Charlie Gehringer
home_batter3_pos                   4
home_batter4_id             greeh102
home_batter4_name     Hank Greenberg
home_batter4_pos                   3
home_batter5_id             yorkr101
home_batter5_name          Rudy York
home_batter5_pos                   7
home_batter6_id             fox-p102
home_batter6_name           Pete Fox
home_batter6_pos                   9
home_batter7_id             tebbb101
home_batter7_name    Birdie Tebbetts
home_batter7_pos                   2
home_batter8_id             rossd101
home_batter8_name           Don Ross
home_batter8_pos                   5
home_batter9_id             gillg103
home_batter9_name        George Gill
home_batter9_pos                   1
misc                             NaN
acquisition                        Y
year                            1938

In [4]:
games1938_df = allgames_df[allgames_df['year'] == 1938]

allgames = allgames_df['gameID'].dropna().drop_duplicates().tolist()
games1938 = games1938_df['gameID'].dropna().drop_duplicates().tolist()

In [5]:
# runs in about 5 minutes
with open('events_1927_1938.json','r') as f:
    events_games = json.load(f)

events_games_df = pandas.DataFrame(events_games)
#events_games1938_df = events_games_df[events_games_df['year'] == 1938]

print('done')
events_games_df.head(1)

done

,data,events,home_starters,id,info,version,visiting_starters
0,"[[pettj103, 2], [smitb110, 2], [mogrg101, 2]]","[[0, play, 1, 0, statj101, ??, , 6/P, , , , ],...","[[thomh102, ""Herb Thomas"", 1, 4], [smitj106, ""...",BSN192704120,"{'sky': 'unknown', 'site': 'BOS08', 'ump3b': '...",1,"[[statj101, ""Jigger Statz"", 1, 7], [carem101, ..."

In [6]:
games_with_events = events_games_df['id'].dropna().drop_duplicates().tolist()
games1938_with_events = events_games_df['id'][events_games_df['id'].apply(lambda x: int(x[3:7])) == 1938].dropna().drop_duplicates().tolist()

#games1938_with_events
print('Done')

Done

In [7]:
print('Total games: {:,.0f}'.format(len(allgames)))
print('Games with events: {:,.0f}'.format(len(games_with_events)))
print('\n')
print('Games in 1938: {:,.0f}'.format(len(games1938)))
print('Games with events in 1938: {:,.0f}'.format(len(games1938_with_events)))


games1938_without_events = [x for x in games1938 if x not in games1938_with_events]
print('Games without events in 1938: {:,.0f}'.format(len(games1938_without_events)))

Total games: 213,307
Games with events: 1,763


Games in 1938: 1,223
Games with events in 1938: 792
Games without events in 1938: 431

In [27]:
games1938_without_events_df = pandas.DataFrame(games1938_without_events)
games1938_without_events_df.columns = ['gameID']
games1938_without_events_df[games1938_without_events_df['gameID'].apply(lambda x: str(x)[0:3]) == 'DET'].sort_values('gameID').values.tolist()

[['DET193805150'],
 ['DET193805160'],
 ['DET193805180'],
 ['DET193805190'],
 ['DET193805200'],
 ['DET193805210'],
 ['DET193805301'],
 ['DET193805302'],
 ['DET193806140'],
 ['DET193806150'],
 ['DET193806171'],
 ['DET193806172'],
 ['DET193806180'],
 ['DET193806190'],
 ['DET193806212'],
 ['DET193806220'],
 ['DET193807082'],
 ['DET193807090'],
 ['DET193807100'],
 ['DET193807260'],
 ['DET193807270'],
 ['DET193807280'],
 ['DET193807290'],
 ['DET193807301'],
 ['DET193807302'],
 ['DET193808050'],
 ['DET193808060'],
 ['DET193808070'],
 ['DET193808171'],
 ['DET193808172'],
 ['DET193808180'],
 ['DET193808192'],
 ['DET193808210'],
 ['DET193809111'],
 ['DET193809112'],
 ['DET193809120'],
 ['DET193809130'],
 ['DET193809140'],
 ['DET193809180'],
 ['DET193809190'],
 ['DET193809212'],
 ['DET193809231'],
 ['DET193809232'],
 ['DET193809240'],
 ['DET193809250'],
 ['DET193809271'],
 ['DET193809272'],
 ['DET193809280'],
 ['DET193809290']]